html{
    background-color: black;
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
            45deg,
            hsl(41deg 92% 34%) 0%,
            hsl(41deg 91% 31%) 7%,
            hsl(41deg 92% 29%) 13%,
            hsl(41deg 91% 27%) 20%,
            hsl(41deg 92% 25%) 27%,
            hsl(41deg 91% 22%) 33%,
            hsl(41deg 92% 20%) 40%,
            hsl(41deg 91% 18%) 47%,
            hsl(41deg 93% 16%) 53%,
            hsl(41deg 91% 14%) 60%,
            hsl(41deg 93% 11%) 67%,
            hsl(40deg 91% 9%) 73%,
            hsl(41deg 94% 7%) 80%,
            hsl(40deg 91% 5%) 87%,
            hsl(44deg 100% 2%) 93%,
            hsl(0deg 0% 0%) 100%
    );
}
